.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    line-height: 50px;
}

.navigationButton {
    filter: invert(88%) sepia(31%) saturate(1599%) hue-rotate(320deg) brightness(96%) contrast(97%);
}

.navigationButtonDisabled, .navigationButton:active {
    filter: invert(35%) sepia(13%) saturate(474%) hue-rotate(173deg) brightness(88%) contrast(84%);
}